/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

/* HEADER */
.header {
    background: #111;
    padding: 20px 30px;
}

.logo {
    color: red;
    font-size: 32px;
    font-weight: bold;
}

.logo span {
    color: white;
}

/* TITULOS */
.section-title {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}
h1{
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 40px; /* espacio entre ellos */
}

/* GRID DE CARDS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .3s ease;
}

.card:hover {
    transform: scale(1.07);
}

.card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 6px;
}

/* INFO DENTRO DE CADA CARD */
.card-info {
    background: rgba(0,0,0,0.8);
    padding: 10px;
    text-align: center;
    margin-top: -65px;
    position: relative;
    border-radius: 0 0 8px 8px;
}

.btn {
    background: red;
    color: white;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.btn:hover {
    background: #ff3b3b;
}

/* ================ MODAL ESTILO NETFLIX =================== */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 20px;
}

.modal-content {
    background: #181818;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 900px;
}

.close {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

/* CUERPO DEL MODAL */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-body video {
    width: 100%;
    border-radius: 8px;
}

.modal-text {
    padding: 10px;
}

.modal-text h2 {
    margin: 0 0 10px;
}

.modal-text p {
    color: #ccc;
    line-height: 1.5;
}
